<head>
    <title>Modelo predictivo V1</title>
</head>

<header class="mat-elevation-z3" style="background-color: rgb(70, 218, 159)">
    <div class="texto">
        <div class="info">
          <div class="titulo">
            <p>Modelo predictivo de residuos electrónicos en Guayaquil</p>
          </div>
        </div>
      </div>
</header>
<body style="background-color: rgb(207, 233, 212)">
    <section class="seccionDeOpciones">
        <div class="opciones">
            <a id="acercaDe" routerLink="/acercaDe" routerLinkActive="active">Acerca de</a>
            <a id="datosEstadisticos" routerLink="/datosEstadisticos">Datos estadísticos actuales</a>
            <a id="modeloPrediccion" routerLink="/modeloPrediccion">Modelo de predicción</a>
        </div>
      </section>
</body>